---
// Redirect from old URL to new blog location
---
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/blog/setup/">
  <link rel="canonical" href="/blog/setup/">
  <title>Weiterleitung...</title>
</head>
<body>
  <p>Weiterleitung zu <a href="/blog/setup/">/blog/setup/</a>...</p>
</body>
</html>
