---
// Steps component - renders children as numbered steps
---

<div class="steps">
  <slot />
</div>

<style is:global>
  .steps {
    counter-reset: step;
    padding-left: 0;
    margin: 1.5rem 0;
  }

  .steps > li,
  .steps > ol > li {
    list-style: none;
    position: relative;
    padding-left: 3rem;
    padding-bottom: 1.5rem;
    border-left: 1px solid #2a2a2a;
    margin-left: 0.75rem;
  }

  .steps > li:last-child,
  .steps > ol > li:last-child {
    border-left: none;
    padding-bottom: 0;
  }

  .steps > li::before,
  .steps > ol > li::before {
    counter-increment: step;
    content: counter(step);
    position: absolute;
    left: -0.75rem;
    top: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: #3b82f6;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .steps > li > p:first-child,
  .steps > ol > li > p:first-child {
    margin-top: 0;
  }

  .steps > li > strong:first-child,
  .steps > ol > li > strong:first-child {
    display: block;
    color: #e5e5e5;
    margin-bottom: 0.5rem;
  }
</style>
